<nav>
    <a href="index.html">
      <div class="logo">
        <img src="../img/logo.png" alt="Logo" />
      </div>
    </a>
    <ul class="nav-links">
      <li>
        <a href="publications.html">Publications</a>
      </li>
      <li>
        <a href="research.html">Research</a>
      </li>
      <li>
        <a href="students.html">Students</a>
      </li>
      <li>
        <a href="teaching.html">Teaching</a>
      </li>
    </ul>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>
