.footer{
  background-color: black;
  color: white;
}
.Homepage{
  height: 100vh;
  width: 100%;
  background-image: url("../public/homepage-background1.jpg");
  background-size: cover;
}
#home-title{
  text-shadow: 2px 2px #000000;
  color: white;
  text-align: center;
vertical-align: middle;
line-height: 100vh;
font-size: 800%;
}