.Homepage {
  width: 100%;
  background-color: #fffeee;
  background-image: url("/src/componentes/img/homepage_background.png");
  background-attachment: scroll;
}
#home-title {
  text-shadow: 2px 2px #000000;
  color: #f2b90c;
  text-align: center;
  vertical-align: middle;
  line-height: 100vh;
  font-size: 800%;
}
.Footer {
  text-align: center;
  padding: 20px;
  background-color: #fffeee;
}
#footerLogo {
  width: 200px;
  margin-left: auto;
  padding: 25px;
  margin-right: auto;
  display: block;
}
.Header {
  background-color: #fffeee;
  padding: 20px;
}
#headerLogo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 350px;
}
#headerLogo:hover {
  cursor: pointer;
}
.about-link {
  color: #f2b90c;
  text-decoration: none;
}
.about-link:hover {
  color: #f2b90c;
  text-decoration: underline;
}
.homepage-partner-logo {
  height: 150px;
  margin: auto;
  padding: 20px;
  display: block;
  border-radius: 30%;
}
.LoginComp {
  padding: 5%;
  background-color: #fffeee;
  background-image: url("/src/componentes/img/login_and_register_background.png");
  background-position-y: -20vh;
  background-position-x: center;
}
.RegisterComp {
  padding: 5%;
  background-color: #fffeee;
  background-image: url("/src/componentes/img/login_and_register_background.png");
}
.Expensespage {
  padding: 5%;
  background-color: #fffeee;
}
.AccountSettingsPage {
  padding: 5%;
  background-color: #fffeee;
}

.Graphspage {
  padding: 5%;
  background-color: #fffeee;
}

/*Expensespage START*/
.addBtn {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-top: 20vh;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  background-color: #f2b90c;
  border-color: #f2b90c;
  border-style: solid;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  color: #ffffff;
}

.addBtn:hover {
  background: transparent;
  border-color: #f2b90c;
  border: 5px solid;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.432);
  transition: 0.5s;
  color: #f2b90c;
}

.containerExpenses {
  background-color: #ffffff;
  height: 40rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  border-radius: 24px;
}
.containerSettings {
  padding: 20px;
  background-color: #ffffff;
  height: 40rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  border-radius: 24px;
}

.buttonAdd {
  margin-right: 10rem;
  margin-top: 20px;
}

#AddButton {
  margin-right: 10rem;
  margin-top: 30px;
  border-radius: 24px;
  background-color: #fffeee;
  color: #f2b90c;
}

#EditButton {
  margin-top: 20px;
  border-radius: 24px;
  background-color: #fffeee;
  color: #000000;
}

#ImportButton {
  margin-top: 50%;
  border-radius: 24px;
  background-color: #ffffff;
  color: #000000;
}

/*Expensespage END*/

/*Graphspage START*/

.containerGraphs {
  background-color: #ffffff;
  height: 30rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  border-radius: 24px;
}

.miniTitles {
  font-size: 20px;
  font-weight: bold;
}

.textAddNews {
  font-size: 30px;
  font-weight: bold;
  margin-top: 100px;
}

#containerGraph {
  height: 20rem;
}
/*Graphspage END*/
